<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:method="POST" th:action="@{/create_user}" th:object="${user}" >

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">lastName</label>
    <input type="text"  th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="email">email</label>
    <input  type="text"  th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Add user" />
</form>
<br/>

<form th:action="@{/springBoot/src/main/resources/static}" th:method="GET">
    <button type="submit">All user</button>
</form>

</body>
</html>