<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/update_user}" th:object="${userUpdate}">

    <lable for="id">Enter id who you want update: </lable><input tupe="number" th:filed="*{id}" id="id">
    <input type="number" th:field="*{id}" id="id">
    <br/>

    <label for="name">Enter new name: </label>
    <input type="text" th:field="*{name}">
    <br/>

    <label for="lastName">Enter new lastName: </label>
    <input type="text" th:field="*{lastName}">
    <br/>

    <label for="email">Enter new email: </label>
    <input type="text" th:field="*{email}">
    <br/>

    <input type="submit" value="Update user">
</form>
<br/>

<form th:action="@{/springBoot/src/main/resources/static}" th:method="GET">
    <button type="submit">All user</button>
</form>

</body>
</html>